body {
  background-color: #0a0a1a;
}

.movies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-carousel h3 {
  font-size: 1.5rem; /* 제목의 크기를 설정합니다 */
  font-weight: bold; /* 제목을 굵게 만듭니다 */
  margin: 0; /* 제목의 기본 마진을 제거합니다 */
  padding: 0.5rem 0; /* 제목의 위아래 패딩을 설정합니다 */
  text-align: left; /* 제목을 중앙 정렬합니다 */
  transform: translate(2%, 98%);
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* box-shadow => [수평 오프셋][수직 오프셋][블러 반경][그림자 색상] */
  transition: transform 0.2s; /* 카드에 마우스를 올렸을 때, hover 기능이 0.2초 느리게 작동되게 해서 자연스럽게 표현이 되도록 효과를 준다!*/
  cursor: pointer; /* 카드 위에 마우스를 올렸을 때, 마우스 커서가 손가락으로 변경된다! */
  margin-bottom: 20px;
  transform: scale(0.75);
  margin: auto -20px;
}

.card:hover {
  transform: scale(0.85);
  box-shadow: 4px 5px rgba(255, 255, 255, 0.5); /* 카드에 마우스를 올렸을 때, 카드의 크기가 1.05배 커진다! */
}

.card_img {
  max-width: 300px;
  max-height: 540px;
  min-width: 290px;
  min-height: 515.5px;
}

/* 평점 뱃지 스타일 */
.reating_badge {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background: rgba(255, 215, 0, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 215, 0, 0.55);
}

.movie-carousel-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.movie-carousel-nav button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.movie-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  transform: translateY(15%);
}

.movie-carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* 메인 인기급상승 카드 캐러셀 반응형 css 16:9 추가 */
@media screen and (max-width: 1920px) {
  .movies_container {
    max-width: 90%;
    margin: 0 auto; /* 좌우 여백 자동으로 설정하여 중앙 배치 */
  }

  .card {
    width: 18.5%;
    margin: 1% 0.01% 2%; /* 카드 간격 넓히기*/
  }

  .card_img {
    width: 100%;
    height: auto;
    max-height: 800px;
  }

  .movie-carousel-nav button {
    padding: 20px; /* 캐러셀 버튼 크기 커지게 */
    font-size: 22px; /* 화살표 크기 늘림 */
  }
}
