//모바일 규격 

@media screen and (max-width:390px) {

}

@media (max-width:844px) {

}
//landscape 
@media screen and (orientation: landscape){

}
    img {
      display: block;
      width: 1000%;
      max-width: 100%;
      maring:0 auto;
    }

  
      
    

*{
  margin: 0;
  padding: 0;
}

/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #0a0a1a;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* 컨테이너 스타일 */
.movie_detail_container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 114px;
  height: auto;
  padding: 0 20px;
  
}

.movie_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.movie_poster {
  max-width: 300px;
  width: 100%;
  border-radius: 15px;
  margin-right: 20px;
}

.movie_details {
  max-width: 600px;
}

.movie_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: left;
}

.movie_rating {
  font-size: 20px;
  color: #ff9900;
  margin-bottom: 15px;
}

.movie_overview {
  background-color: #120f1e;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie_overview p {
  color: #ffffff;
  line-height: 1.6;
}

/* 리뷰 작성 폼 스타일 */
.review_form {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.review_form input,
.review_form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0a0a1a;
  border: solid 1px white;
  color: #fff;
}

.review_form input::placeholder,
.review_form textarea::placeholder {
  color: #bbb;
}

.review_form button {
  width: 104%;
  padding: 10px;
  background-color: #ffca46;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.review_form button:hover {
  background-color: #e6b800;
}

/* 리뷰 리스트 스타일 */
.reviews {
  margin-top: 20px;
}

.review_item {
  padding: 10px;
  border-bottom: 1px solid #3b3b3b;
}

.review_item:last-child {
  border-bottom: none;
}

.review_author {
  font-weight: bold;
  margin-bottom: 5px;
}

.review_content {
  line-height: 1.6;
}

.review_item button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  bottom: 10px; 
}

.edit_review {
  background-color: #28a745; 
  right: 80px; 
}

.delete_review {
  background-color: #dc3545; 
  right: 10px; 
}

.review_item button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  bottom: 10px; 
}

.edit_review {
  background-color: #28a745; 
  right: 80px; 
}

.delete_review {
  background-color: #dc3545; 
  right: 10px; 
}

#movie_info {
  text-align: left;
  margin-left: 15%;
}

.navigation-container {
  padding: 0px 20px;
  margin: 0;
}