
/* 캐러셀 관련 스타일 */
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* 전체 너비를 부모에 맞춤 */
}
//모바일 규격 12pro 390*844 

@media screen and (min-width:390px) {
.header-container {
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.movie_poster {
  max-width: 100%;
  margin-right: 0;
  margin-bottom: 10px;

}
.movie_title {
  font-size: 24px;
}

.movie_rating {
  font-size: 18px;
}

.review_form button {
  width: 100%;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
}

.slide-item {
  position: relative;
  width: 390px;
}

.shortcuts, .information {
  position: absolute;
  left: 10px;
  top: 10px;
  width: auto;
}
.movie-carousel-track {
  width: 390px;
}
.navigation-container {
  width: 100%;
}
}
.information {
  left: 120px;
}
}


}
//landscape 
@media only screen and (min-width: 390px) and (orientation: landscape) {
  
  .carousel-slide {
    flex-direction: row;
  }
  .movie-carousel-track {
    flex-direction: row;
  }
}
      
    



/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #0a0a1a;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* 컨테이너 스타일 */
.movie_detail_container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 114px;
  height: auto;
  padding: 0 20px;
  
}

.movie_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.movie_poster {
  max-width: 300px;
  width: 100%;
  border-radius: 15px;
  margin-right: 20px;
}

.movie_details {
  max-width: 600px;
}

.movie_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: left;
}

.movie_rating {
  font-size: 20px;
  color: #ff9900;
  margin-bottom: 15px;
}

.movie_overview {
  background-color: #120f1e;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie_overview p {
  color: #ffffff;
  line-height: 1.6;
}

/* 리뷰 작성 폼 스타일 */
.review_form {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.review_form input,
.review_form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0a0a1a;
  border: solid 1px white;
  color: #fff;
}

.review_form input::placeholder,
.review_form textarea::placeholder {
  color: #bbb;
}

.review_form button {
  width: 104%;
  padding: 10px;
  background-color: #ffca46;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.review_form button:hover {
  background-color: #e6b800;
}

/* 리뷰 리스트 스타일 */
.reviews {
  margin-top: 20px;
}

.review_item {
  padding: 10px;
  border-bottom: 1px solid #3b3b3b;
}

.review_item:last-child {
  border-bottom: none;
}

.review_author {
  font-weight: bold;
  margin-bottom: 5px;
}

.review_content {
  line-height: 1.6;
}

.review_item button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  bottom: 10px; 
}

.edit_review {
  background-color: #28a745; 
  right: 80px; 
}

.delete_review {
  background-color: #dc3545; 
  right: 10px; 
}

.review_item button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  bottom: 10px; 
}

.edit_review {
  background-color: #28a745; 
  right: 80px; 
}

.delete_review {
  background-color: #dc3545; 
  right: 10px; 
}

#movie_info {
  text-align: left;
  margin-left: 15%;
}

.navigation-container {
  padding: 0px 20px;
  margin: 0;
}


@media  screen and (max-width :390px) {
  .carousel-container {
    width: 100%;
    overflow: hidden;
  }

  .movie-carousel-track {
    width: 100%;
  }

  .slide-item {
    width: 100%;
  }

  .movie_poster {
    max-width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navigation-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .shortcuts, .information {
    position: static;
    width: 100%;
    margin-bottom: 10px;
  }

  .movie_header {
    flex-direction: column;
  }

  .movie_details {
    width: 100%;
  }
}

@media only screen and (min-width: 391px) and (max-width: 844px) and (orientation: landscape) {
  body {
    overflow-x: hidden;
  }
  .header-container, .carousel-container {
    width: 100vw; /* 뷰포트 너비의 100%로 설정 */
    max-width: 100vw;
    padding: 0;
  }

  .carousel-slide {
    flex-direction: row;
    width: 100%;
  }

  .movie-carousel-track {
    flex-direction: row;
    width: 100%;
  }

  .slide-item {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .movie_poster {
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .movie_details {
    width: 50%;
    padding: 20px;
  }

  .shortcuts, .information {
    position: static;
    width: auto;
  }

  .navigation-container {
    width: 100%;
    padding: 10px;
  }
}


@media only screen and (min-width: 391px) and (max-width: 844px) and (orientation: landscape) {
  .header-container, .carousel-container {
    max-width: 844px; 
    margin: 0 auto;
  }
}