.header-container {
  background: rgba(10, 10, 26, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(10, 10, 26, 0.43);
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  box-sizing: border-box;
  align-content: center;
}

.logo-nav-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.search-container input {
  padding: 10px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 500px;
  max-width: 100%;
  background-color: #0a0a1a;
}

.search-container button {
  padding: 10px;
  background-color: #211d2b;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #ffca46;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.navigation-container a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
}

.navigation-container a:hover {
  color: #ffca46;
}

.navigation-container a:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #ccc;
}

.navigation-container img {
  width: 114px;
  height: auto;
  margin-right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .logo-nav-container {
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .navigation-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: row;
  }

  .navigation-container a {
    font-size: 14px;
    margin: 0 10px;
  }

  .navigation-container img {
    width: 80px;
    margin-right: 10px;
  }

  .search-container {
    width: 100%;
    justify-content: center;
    transform: translateY(-45%);
  }

  .search-container input {
    width: calc(100% - 55px);
  }
}

@media screen and (max-width: 768px) {
  .navigation-container a {
    font-size: 12px;
    margin: 0 5px;
    padding: 5px;
    
  }

  .navigation-container a:not(:last-child)::after {
    right: -5px;
    height: 15px;
  }
}

@media screen and (max-width: 480px) {
  .navigation-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center
  }

  .navigation-container a {
    margin: 5px;
  }

  .navigation-container a:not(:last-child)::after {
    display: none;
  }

  .search-container button {
    width: 40px;
    height: 40px;
  }
}