.header-container {
    background-color: #080414;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding: 10px;
}

.search-container input{
    margin-right: 5px;
}

.navigation-container {
    background-color: green;
    display: flex;
}

.navigation-container a {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}