.header-container {
    background: rgba(10, 10, 26, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(10, 10, 26, 0.43);
    padding: 0px 20px;
    max-height: 70px;
    min-width: 1870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    bottom: auto;
    position: fixed;
    bottom: 92.5%;
    z-index: 1002;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 10px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    min-width: 500px;
    background-color: #0a0a1a;
}

.search-container button {
    padding: 10px 15px;
    background-color: #211D2B;
    border: none;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    width: 45px;
    height: 45px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #FFCA46;
}

.navigation-container {
    display: flex;
    align-items: center;
}

.navigation-container a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    position: relative;
}

.navigation-container a:hover {
     color: #FFCA46;  
}

.navigation-container a:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #ccc;
}

.navigation-container img {
    width: 114px;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
}

/* 반응형 CSS 추가 */
/* 갤럭시 폴드5 접었을 때(최대 너비 384px) */
@media (max-width: 20%) { /* 일반적인 1920픽셀 화면 너비의 20% */
    .header-container {
        min-width: 100%;
        padding: 0px 10px;
        max-height: 60px;
        font-size: 14px;
        bottom: 0;
    }

    container {
        padding-top: 70px;  /* 헤더 공간 확보 */
    }
  }

/* 갤럭시 폴드5 폈을 때(최소 너비 1768px) */
@media (min-width: 92%) { /* 일반적인 1920픽셀 화면 너비의 92% */
    .header-container {
        min-width: 100%;
        padding: 0px 20px;
        max-height: 70px;
        font-size: 16px;
        bottom: auto; /* 위치 원래대로 */
        position: fixed;
        bottom: 92.5%;
    }
}

/* 태블릿 (최소 너비 481px, 최대 너비 1024px) */
@media (min-width: 25%) and (max-width: 53%) { /* 일반적인 1920px 화면 너비의 25% ~ 53% */
    .header-container {
        min-width: 100%;
        padding: 0px 15px;
        max-height: 70px;
        font-size: 15px;
        bottom: auto; /* 위치 원래대로 */
        position: fixed;
        bottom: 92.5%;
    }
}