.header-container {
    background-color: #080414;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

.navigation-container {
    display: flex;
    align-items: center;
}

.navigation-container a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.navigation-container a:hover {
    background-color: #575757;
    border-radius: 3px;
}

.navigation-container img {
    width: 114px;
    height: 100px;
}