.review-Form .text {
border-radius: 20px;
display: flex;
}

body {
background-color: black;
color: white;
margin: 0 auto;
padding: auto;
display: flex;
justify-content: center;
align-items: center;
height: auto;
flex-direction: column;
text-align: center;
}

.submitButton{
    border-radius: 20px;
    display: flex;
    width: auto;
    color: yellow;
}

button{
    padding :10px;
    border: none;
    border-radius: 5px;
    color:white;
    cursor:pointer;
    background-color: #ffd700;
    width: 100%;
    
}

.review-Form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.infobox {
    width: 100%;
}

main {
   width: 100%;
   max-width: 400px;
}
