.container {
}

.title {
  background-color: deepskyblue;
  border: 1px none black;
  text-align: center;
  padding: 10px;
}

.search {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 370px;
  height: 30px;
  margin: 15px auto;
  font-size: x-large;
}

.search-label {
  text-align: center;
}

#movies_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s;
  cursor: pointer; /* 카드 클릭을 위한 커서 변경 */
  margin-bottom: 20px;
}
