.container {
}

.title {
  background-color: deepskyblue;
  border: 1px none black;
  text-align: center;
  padding: 10px;
}

.search {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 370px;
  height: 30px;
  margin: 15px auto;
  font-size: x-large;
}
