.container {
}

.title {
  background-color: deepskyblue;
  border: 1px none black;
  text-align: center;
  padding: 10px;
}

.search {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 370px;
  height: 30px;
  margin: 15px auto;
  font-size: x-large;
}

.search-label {
  text-align: center;
}

#movies_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  width: 500px;
  margin-bottom: 10px;
}
